<div class="page-header">
	<h1 class="onBackground">Upcoming Parties</h1>
</div>
<div class="jumbotron">
	<h1>Ascend Event Planning Spring 2015 Party</h1>
	<p class="party-meta">6:00PM on May 22, 2015 at Cece's house</p>
	<p class="description lead">Lorem ipsum dolor sit amet, dictas complectitur has et. Ad minim mediocrem quo. In sit malis philosophia, eam debet percipit in. Eum elitr integre te, pro ad tritani voluptua disputando. Nam an altera invidunt praesent, ne denique interesset mea, his mazim vitae audire an. Novum persius ad vix, ea eum everti latine facilisi.
	</p>
	<jp-ng-bs-animated-button is-submitting="isSubmitting" result="result" options="options" ng-click="go('/checkinList')"></jp-ng-bs-animated-button>
</div>
<div class="page-header">
	<h1 class="onBackground">Past Parties</h1>
</div>
<div class="jumbotron">
	<h1>Ascend Event Planning Spring 2015 Party</h1>
	<p class="party-meta">6:00PM on May 22, 2015 at Cece's house</p>
	<p class="description lead">This party is for everyone who had been working and studying hard for the midterm to relax and have fun together. The main 
	</p>
	<jp-ng-bs-animated-button is-submitting="isSubmitting1" result="result1" options="options1" ng-click="go1('/gallery1')"></jp-ng-bs-animated-button>
</div>